body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body:before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/192136/pexels-photo-192136.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* -webkit-background-size: cover;
	background-size: cover; */
  /* -webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	filter: blur(5px); */
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

p {
  color: grey;
}

#heading {
  text-transform: uppercase;
  color: #673ab7;
  font-weight: normal;
}

#msform {
  text-align: center;
  position: relative;
  margin: 10px;
}

#msform fieldset {
  background: white;
  border: 2px solid rgb(96, 96, 96);
  border-radius: 15px;
  box-sizing: border-box;
  width: 95%;
  margin: 20px;
  padding: 20px;
  position: relative;
}

.form-card {
  text-align: left;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform input,
#msform textarea {
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 2px;
  margin-right: 20px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  background-color: #eceff1;
  font-size: 16px;
  letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #673ab7;
  outline-width: 0;
}

#msform .action-button {
  width: 100px;
  background: #b73a87;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #311b92;
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000;
}

.card {
  z-index: 0;
  border: none;
  position: relative;
}

.fs-title {
  font-size: 25px;
  color: #673ab7;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}

.purple-text {
  color: #673ab7;
  font-weight: normal;
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

.fieldlabels {
  color: rgb(14, 13, 13);
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  display: flex;

  flex-direction: row;
  align-items: center;
}

.field-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.field-container .fieldlabels {
  color: rgb(14, 13, 13);
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.field-container input {
  margin-right: 10px;
  display: flex;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #e3e1e7;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f492";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f299";
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f188";
}

#progressbar #other:before {
  font-family: FontAwesome;
  content: "\f564";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #000000;
  background: white;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: white;
}

.progress {
  height: 0px;
}

.progress-bar {
  background-color: #3a42b7;
}

.fit-image {
  width: 100%;
  object-fit: cover;
}

.tarea-height {
  height: 150px;
}

.tarea-width {
  width: 45% !important;
}
